*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top:14%;
    align-items: center;
}
.signup{
    /* border: 1px black solid; */
    /* margin: 30px; */
    box-shadow: 2px 0px 15px 3px;
    align-items: center;
    width: 38%;
    background-color: beige;
}
#table{
margin: 30px;
width: 90%;
}
input{
    margin: 5px;
    border:grey solid 1px;
    width: 96%;
    padding: 3px;

}
#btn{
    margin-left: 6px;
    margin-top: 10px;
    padding: 3px 10px;
}